packages
TwilioChatXamarinBindings.userprefs
Sample/ChatDemo.Droid/bin
Sample/ChatDemo.Droid/obj
Sample/ChatDemo.iOS/bin
Sample/ChatDemo.iOS/obj
Twilio.Chat/Twilio.Chat.Android/bin
Twilio.Chat/Twilio.Chat.Android/obj
Twilio.Common/Twilio.Common.Android/obj
Twilio.Common/Twilio.Common.Android/bin
*.nupkg
Twilio.Chat/.gradle
chat-android.aar
Twilio.Chat/Twilio.Chat.Android/Javadoc
Podfile.lock
Twilio.Chat/Twilio.Chat.iOS/bin
Twilio.Chat/Twilio.Chat.iOS/Binding
Twilio.Chat/Twilio.Chat.iOS/build
Twilio.Chat/Twilio.Chat.iOS/obj
Twilio.Chat/Twilio.Chat.iOS/Pods
Twilio.Chat/Twilio.Chat.Android/.gradle
Sample/ChatDemo.iOS/certificates
UserPrefs.xml
